# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

!**/src/main/**
!**/src/test/**

target/
### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
/.idea/

/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/compiler.xml
/Yu-Gong.iml
/src/main/resources/application.yml
将删除 src/main/java/org/example/yugong/spring/service/
将删除 src/main/java/org/example/yugong/zookeeper/
将删除 src/test/
